.footer___content {
  background-color: $footer-bg;
}
.footer-text {
  padding: 40px 57px 72px 57px;
  opacity: 0.6;
  font-family: $font-accent;
  font-size: 16px;
  @include mediaTablet {
    padding: 40px 5px 60px 5px;
  }
}
