$font-main: 'Merriweather', serif;
$font-accent: 'Golos Text', sans-serif;

$dark: rgba(49, 49, 49, 1);
$accent: rgba(245, 73, 50, 1);
$footer-bg: rgba(233, 222, 212, 1);
$dark-grey: rgba(31, 31, 31, 1);
$yellow: rgba(251, 206, 81, 1);
$blue: rgba(48, 87, 162, 1);
$white: rgba(255, 255, 255, 1);
$light-grey: rgba(208, 208, 208, 1);

$tablet: 959px;
